main{
    margin: 0;
    width: 100%;
    height: 1000px;

}

#header{
    width: 100%;
    height: 80px;
    border: 1px solid gainsboro;
    border-radius: 0px;
    background-color: white;
}

#body{
    width: 100%;
    height: 900px;
}

#sidebarLeft{

    width: 24%;
    height: 900px;
    float: left;
}

#center{
    background-color: white;
    width: 50%;
    height: 850px;
    float: left;
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-top: 10px;
}

#sidebarRight{

    width: 24%;
    height: 900px;
    float: left;
    margin-left: 10px;
}

#header img{
    padding: 10px 0px 0px 15px;
    width: 60px;
    height: 60px;
    float: left;
}

#bar{
    float: left;
    margin-left: 20%;
}

#bar ul li{
    list-style: none;
    font-size: 20px;
    float: left;
    margin-left: 35px;
    font-size: 35px;
}

#bar ul li a{
    padding: 0px 10px 5px 45px;
}

#sidebarLeft ul li{
    list-style: none;
    font-size: 20px;
    padding: 10px 0px 15px 5px;

}

#sidebarLeft ul li:hover{
    background-color: darkgrey;
    border-radius: 10px;
    color: white;
}

#sidebarRight ul li{
    list-style: none;
    font-size: 20px;
    padding: 10px 0px 15px 5px;
    color: gray;

}
#sidebarRight ul li:hover{
    background-color: darkgrey;
    border-radius: 10px;
    color: white;
}

#caption{
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 40px;
    font-size: 30px;
    font-family: Arial;
}
#description{
    width: 100%;
    height: 100px;
    padding: 90px 0px 0px 40px;
    font-size: 20px;
    font-family: Arial;
}
#content{
    width: 100%;
    height: 500px;

}
#content img{
    width: 100%;
    height: 450px;
    padding-top: 100px;
}

