body{
    margin: 0;
}
#header{
    background: navajowhite;
    height: 100px;
    width: 100%;
}
#main{
    background: saddlebrown;
    height: 1000px;
    width: 70%;
    float: left;
}
#sidebar{
    background: red;
    height: 1000px;
    width: 30%;
    float: left;
}
#footer{
    background: blue;
    height: 100px;
    width: 100%;
    clear: both;
}